Source: buteo-syncfw
Section: utils
Priority: optional
Maintainer: Duggirala Karthik <karthik.2.duggirala@nokia.com>
Build-Depends: cdbs,
               debhelper (>= 5),
               doxygen,
               libaccounts-qt5-dev, 
               libdbus-1-dev,
               libiphb-dev,
               libsignon-qt5-dev,
               qtsystems5-dev,
               qt5-default,
Standards-Version: 3.9.5
Homepage: https://github.com/nemomobile/buteo-syncfw.git

Package: buteo-syncfw-qt5
Architecture: any
Depends: ${shlibs:Depends},
         ${misc:Depends},
Description: Synchronization backend
 Synchronization backend, plugin manager, profile db, and conflict resolver.

Package: buteo-syncfw-qt5-dev
Architecture: any
Depends: debhelper (>= 5),
         buteo-syncfw-qt5 (= ${binary:Version}),
         cdbs,
         libdbus-1-dev,
Description: Files required for synchronizer plugin development
 Header file needed for making plugins.
 
Package: buteo-syncfw-qt5-dbg
Architecture: any
Depends: buteo-syncfw-qt5 (= ${binary:Version}),
Description: Debug symbols for sync-fw
  Debug symbols for sync-fw
 
Package: buteo-syncfw-qt5-doc
Section: doc
Architecture: any
Description: API documentation for sync-fw.
 Empty documentation package for sync-fw.

Package: buteo-syncfw-qt5-tests
Section: devel
Priority: optional
Architecture: any
Depends: ${shlibs:Depends},
         buteo-syncfw-qt5 (= ${binary:Version}),
         testrunner-lite,
         meegotouch-dev-tools,
         timed,
Description: Module test package for sync-fw.
 Module test package for sync-fw.

